.header-dashboard-container {
    transition: background-color 300ms;
    background-color: #026AA7;
    border-bottom: 1px solid var(--dynamic-text-color-transparent);
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    max-height: 44px;
    padding: 6px 4px;
}

.dashboard-header-container {
    background-color: #026AA7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

