.boards-header-container {
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    color: white;
    height: 60px;
    margin-left: auto;
    position: fixed;
}

.logo-trello {
    cursor: pointer;
}

.search-nav-profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-nav-profile-section  img {
    height: 50px;
}