@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
  /* Global */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --gradient: linear-gradient(185deg, rgba(87, 221, 255, 1) 0%, rgba(192, 88, 243, 1) 80%);   
  /* Dark Theme */
  --darkGray: hsl(236, 9%, 61%);
  --veryDarkGray: hsl(237, 14%, 26%);
  /* Light Theme */
  --VeryLightGray: hsl(0, 0%, 98%);
  --BrightBlue: hsl(220, 98%, 61%)
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

.App {
  background-image: url('../public/bg-desktop-dark.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

#light {
  background-color: white;
}

#dark {
  background-color: var(--veryDarkGray);
}

#dark .wrapper {
  background-color: blue;
  color: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  border: 1px solid #f3f3f3;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


.error-form {
  padding: 0px 80px;
  margin: 0px;
}

.list {
  width: 500px;

}

.list ul {
list-style-type: none;
padding: 0;
  margin: 0;
}

.done {
  opacity: 1;

}

.notDone {
    opacity: 0;
}

#iconsCheck {
  width: 50px;
  height: 50px;
}

.button-circle {
  border: 1px solid gray;
  border-radius: 50%;
  background-color: transparent;
  height: 30px;
  width: 30px;
}

.button-circle:hover{
    border:1px solid;
    border-image: var(--gradient);
    border-image-repeat: round;
    border-image-slice: 1;

}

.button-completed {
  background: var(--gradient);
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 50%;
          
}

.list-text {
  font-size: 16px;
}

.underline-done {
  text-decoration: line-through;
  color: gray;
}

.bottom-list {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 20px 0px;
}

.switch {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 760px) {

  .error-form {
      padding: 0px 20px;
    }

  .bottom-list {
    grid-template-columns: 1fr;
  }
  
}